body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.text {
  text-align: left;
  color: aliceblue;
}

.texttitle{
  text-align: left;
  font-size: 4.0rem;
}

.textbalance{
  text-align: left;
  font-size: 2.0rem;

}

.badgess{
  text-align:left;

}


.connectButton{
  text-align:left;
  cursor: pointer;
  text-transform: uppercase;
  color: rgb(235, 234, 234);
  
}

.accountNum{
  text-align: left;
  font-size: 1.0rem;
}